.app {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
}

.toolbar {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.button {
  padding: 6px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #550c72;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.button:hover {
  background-color: #2a003a;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: #dc3545;
  font-weight: 500;
  text-align: center;
}

.message {
  font-weight: 500;
  text-align: center;
}
